<%- include("header") %>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quisquam quos alias nemo nesciunt. Similique, cum quam. Voluptatibus corrupti rerum qui, veniam atque tempora, cum tempore culpa aliquam praesentium eius.  </h2>

<p>lorem ipsum dolor sit amet consectetur adip</p>
<%- include("footer") %>